# Data preprocessing of train and test set values

A preliminary lookup at the training and test set values reveal that there are many categories for some variables. Howwever, some of these categories refer to the same item but have different spelling. As such, data cleaning is necessary. 

Furthermore, the train and test set values differ in the item categories. Models may have a hard time classifying the test set if the test set categories are not found in the training set. One way to deal with this is to combine the training and test sets, pre-process the data at one shot, before splitting them back to training and test sets. This is further explained below.

## Load data

In [30]:
trainval <- read.csv('train-set-values.csv')
trainlab <- read.csv('train-set-labels.csv')
train <- merge(trainlab,trainval,by='id')
head(train)

  id status_group   amount_tsh date_recorded funder          gps_height
1 0  non functional  0         2012-11-13    Tasaf              0
2 1  functional      0         2011-03-05    Shipo           1978
3 2  functional      0         2011-03-27    Lvia               0
4 3  functional     10         2013-06-03    Germany Republi 1639
5 4  non functional  0         2011-03-22    Cmsr               0
6 5  functional     50         2011-02-26    Private           28
  installer longitude latitude  wpt_name       ... payment_type water_quality
1 TASAF     33.12583  -5.118154 Mratibu        ... unknown      milky
2 SHIPO     34.77072  -9.395642 none           ... never pay    soft
3 LVIA      36.11506  -6.279268 Bombani        ... per bucket   soft
4 CES       37.14743  -3.187555 Area 7 Namba 5 ... per bucket   soft
5 CMSR      36.16489  -6.099289 Ezeleda        ... unknown      soft
6 Private   39.28612  -6.972403 Kwa Namaj      ... per bucket   soft
  quality_group quantity     quantity_group source       source_type
1 milky         enough       enough         shallow well shallow well
2 good          enough       enough         shallow well shallow well
3 good          insufficient insufficient   machine dbh  borehole
4 good          enough       enough         spring       spring
5 good          dry          dry            shallow well shallow well
6 good          enough       enough         machine dbh  borehole
  source_class waterpoint_type             waterpoint_type_group
1 groundwater  hand pump                   hand pump
2 groundwater  hand pump                   hand pump
3 groundwater  communal standpipe multiple communal standpipe
4 groundwater  communal standpipe          communal standpipe
5 groundwater  hand pump                   hand pump
6 groundwater  communal standpipe multiple communal standpipe

In [31]:
test <- read.csv('test-set-values.csv')

In [2]:
summary(train)

       id                         status_group     amount_tsh
 Min.   :    0   functional             :32259   Min.   :     0.0
 1st Qu.:18520   functional needs repair: 4317   1st Qu.:     0.0
 Median :37062   non functional         :22824   Median :     0.0
 Mean   :37115                                   Mean   :   317.7
 3rd Qu.:55657                                   3rd Qu.:    20.0
 Max.   :74247                                   Max.   :350000.0

    date_recorded                      funder        gps_height
 2011-03-15:  572   Government Of Tanzania: 9084   Min.   : -90.0
 2011-03-17:  558                         : 3635   1st Qu.:   0.0
 2013-02-03:  546   Danida                : 3114   Median : 369.0
 2011-03-14:  520   Hesawa                : 2202   Mean   : 668.3
 2011-03-16:  513   Rwssp                 : 1374   3rd Qu.:1319.2
 2011-03-18:  497   World Bank            : 1349   Max.   :2770.0
 (Other)   :56194   (Other)               :38642
      installer       longitude        latitude            wpt_name
 DWE       :17402   Min.   : 0.00   Min.   :-11.649   none     : 3563
           : 3655   1st Qu.:33.09   1st Qu.: -8.541   Shuleni  : 1748
 Government: 1825   Median :34.91   Median : -5.022   Zahanati :  830
 RWE       : 1206   Mean   :34.08   Mean   : -5.706   Msikitini:  535
 Commu     : 1060   3rd Qu.:37.18   3rd Qu.: -3.326   Kanisani :  323
 DANIDA    : 1050   Max.   :40.35   Max.   :  0.000   Bombani  :  271
 (Other)   :33202                                     (Other)  :52130
  num_private                    basin          subvillage
 Min.   :   0.0000   Lake Victoria  :10248   Madukani:  508
 1st Qu.:   0.0000   Pangani        : 8940   Shuleni :  506
 Median :   0.0000   Rufiji         : 7976   Majengo :  502
 Mean   :   0.4741   Internal       : 7785   Kati    :  373
 3rd Qu.:   0.0000   Lake Tanganyika: 6432           :  371
 Max.   :1776.0000   Wami / Ruvu    : 5987   Mtakuja :  262
                     (Other)        :12032   (Other) :56878
         region       region_code   district_code             lga
 Iringa     : 5294   Min.   : 1.0   Min.   : 0.00   Njombe      : 2503
 Shinyanga  : 4982   1st Qu.: 5.0   1st Qu.: 2.00   Arusha Rural: 1252
 Mbeya      : 4639   Median :12.0   Median : 3.00   Moshi Rural : 1251
 Kilimanjaro: 4379   Mean   :15.3   Mean   : 5.63   Bariadi     : 1177
 Morogoro   : 4006   3rd Qu.:17.0   3rd Qu.: 5.00   Rungwe      : 1106
 Arusha     : 3350   Max.   :99.0   Max.   :80.00   Kilosa      : 1094
 (Other)    :32750                                  (Other)     :51017
        ward         population      public_meeting
 Igosi    :  307   Min.   :    0.0        : 3334
 Imalinyi :  252   1st Qu.:    0.0   False: 5055
 Siha Kati:  232   Median :   25.0   True :51011
 Mdandu   :  231   Mean   :  179.9
 Nduruma  :  217   3rd Qu.:  215.0
 Kitunda  :  203   Max.   :30500.0
 (Other)  :57958
                  recorded_by          scheme_management        scheme_name
 GeoData Consultants Ltd:59400   VWC            :36793                :28166
                                 WUG            : 5206   K            :  682
                                                : 3877   None         :  644
                                 Water authority: 3153   Borehole     :  546
                                 WUA            : 2883   Chalinze wate:  405
                                 Water Board    : 2748   M            :  400
                                 (Other)        : 4740   (Other)      :28557
   permit      construction_year    extraction_type  extraction_type_group
      : 3056   Min.   :   0      gravity    :26780   gravity    :26780
 False:17492   1st Qu.:   0      nira/tanira: 8154   nira/tanira: 8154
 True :38852   Median :1986      other      : 6430   other      : 6430
               Mean   :1301      submersible: 4764   submersible: 6179
               3rd Qu.:2004      swn 80     : 3670   swn 80     : 3670
               Max.   :2013      mono       : 2865   mono       : 2865
                                 (Other)    : 6737   (Other)    : 5322
  extraction_type_class            management      management_group
 gravity     :26780     vwc             :40507   commercial: 3638
 handpump    :16456     wug             : 6515   other     :  943
 motorpump   : 2987     water board     : 2933   parastatal: 1768
 other       : 6430     wua             : 2535   unknown   :  561
 rope pump   :  451     private operator: 1971   user-group:52490
 submersible : 6179     parastatal      : 1768
 wind-powered:  117     (Other)         : 3171
                  payment          payment_type           water_quality
 never pay            :25348   annually  : 3642   soft           :50818
 other                : 1054   monthly   : 8300   salty          : 4856
 pay annually         : 3642   never pay :25348   unknown        : 1876
 pay monthly          : 8300   on failure: 3914   milky          :  804
 pay per bucket       : 8985   other     : 1054   coloured       :  490
 pay when scheme fails: 3914   per bucket: 8985   salty abandoned:  339
 unknown              : 8157   unknown   : 8157   (Other)        :  217
  quality_group           quantity          quantity_group
 colored :  490   dry         : 6246   dry         : 6246
 fluoride:  217   enough      :33186   enough      :33186
 good    :50818   insufficient:15129   insufficient:15129
 milky   :  804   seasonal    : 4050   seasonal    : 4050
 salty   : 5195   unknown     :  789   unknown     :  789
 unknown : 1876

                  source                    source_type         source_class
 spring              :17021   borehole            :11949   groundwater:45794
 shallow well        :16824   dam                 :  656   surface    :13328
 machine dbh         :11075   other               :  278   unknown    :  278
 river               : 9612   rainwater harvesting: 2295
 rainwater harvesting: 2295   river/lake          :10377
 hand dtw            :  874   shallow well        :16824
 (Other)             : 1699   spring              :17021
                    waterpoint_type         waterpoint_type_group
 cattle trough              :  116   cattle trough     :  116
 communal standpipe         :28522   communal standpipe:34625
 communal standpipe multiple: 6103   dam               :    7
 dam                        :    7   hand pump         :17488
 hand pump                  :17488   improved spring   :  784
 improved spring            :  784   other             : 6380
 other                      : 6380

In [22]:
# get column names
names(trainval)

 [1] "id"                    "amount_tsh"            "date_recorded"
 [4] "funder"                "gps_height"            "installer"
 [7] "longitude"             "latitude"              "wpt_name"
[10] "num_private"           "basin"                 "subvillage"
[13] "region"                "region_code"           "district_code"
[16] "lga"                   "ward"                  "population"
[19] "public_meeting"        "recorded_by"           "scheme_management"
[22] "scheme_name"           "permit"                "construction_year"
[25] "extraction_type"       "extraction_type_group" "extraction_type_class"
[28] "management"            "management_group"      "payment"
[31] "payment_type"          "water_quality"         "quality_group"
[34] "quantity"              "quantity_group"        "source"
[37] "source_type"           "source_class"          "waterpoint_type"
[40] "waterpoint_type_group"

## Determine number of unique id

We want to determine if a particular waterpoint has multiple data entries. If there are multiple data entries per waterpoint, the data is akin to a time-series data and has to be dealt with differently.

In [2]:
length(unique(train$id))

[1] 59400

Luckily, the number of entries correspond to the number of unique id. We do not have to deal with a time-series data.

## Select predictor variables

We see that some variables explain the same thing but at different levels of granularity. Here, we identify whether it is a one-to-one matching. If it is, we will take the more ganular data. However, if the variable has too many factor levels, we can take the superset instead. 

For a one-to-many matching, we have to include both variables in the model.

In [2]:
# library to create pivot tables
library(reshape)

Warning message:
"package 'reshape' was built under R version 3.6.3"

In [24]:
cast(trainval,extraction_type~extraction_type_class)
# extraction, extraction_type, extraction_type_class: extraction is the most granular

Using waterpoint_type_group as value column.  Use the value argument to cast to override this choice
Aggregation requires fun.aggregate: length used as default

   extraction_type           gravity handpump motorpump other rope pump
1  afridev                       0   1770        0         0    0
2  cemo                          0      0       90         0    0
3  climax                        0      0       32         0    0
4  gravity                   26780      0        0         0    0
5  india mark ii                 0   2400        0         0    0
6  india mark iii                0     98        0         0    0
7  ksb                           0      0        0         0    0
8  mono                          0      0     2865         0    0
9  nira/tanira                   0   8154        0         0    0
10 other                         0      0        0      6430    0
11 other - mkulima/shinyanga     0      2        0         0    0
12 other - play pump             0     85        0         0    0
13 other - rope pump             0      0        0         0  451
14 other - swn 81                0    229        0         0    0
15 submersible                   0      0        0         0    0
16 swn 80                        0   3670        0         0    0
17 walimi                        0     48        0         0    0
18 windmill                      0      0        0         0    0
   submersible wind-powered
1     0          0
2     0          0
3     0          0
4     0          0
5     0          0
6     0          0
7  1415          0
8     0          0
9     0          0
10    0          0
11    0          0
12    0          0
13    0          0
14    0          0
15 4764          0
16    0          0
17    0          0
18    0        117

In [25]:
cast(trainval,management~management_group)
# management, management_group: management is more granular

Using waterpoint_type_group as value column.  Use the value argument to cast to override this choice
Aggregation requires fun.aggregate: length used as default

   management       commercial other parastatal unknown user-group
1  company           685         0      0         0         0
2  other               0       844      0         0         0
3  other - school      0        99      0         0         0
4  parastatal          0         0   1768         0         0
5  private operator 1971         0      0         0         0
6  trust              78         0      0         0         0
7  unknown             0         0      0       561         0
8  vwc                 0         0      0         0     40507
9  water authority   904         0      0         0         0
10 water board         0         0      0         0      2933
11 wua                 0         0      0         0      2535
12 wug                 0         0      0         0      6515

In [14]:
cast(trainval,water_quality~quality_group)
# water_quality, quality_group: water_quality is more granular

Using waterpoint_type_group as value column.  Use the value argument to cast to override this choice
Aggregation requires fun.aggregate: length used as default

  water_quality      colored fluoride good  milky salty unknown
1 coloured           490       0          0   0      0     0
2 fluoride             0     200          0   0      0     0
3 fluoride abandoned   0      17          0   0      0     0
4 milky                0       0          0 804      0     0
5 salty                0       0          0   0   4856     0
6 salty abandoned      0       0          0   0    339     0
7 soft                 0       0      50818   0      0     0
8 unknown              0       0          0   0      0  1876

In [15]:
cast(trainval,quantity~quantity_group)
# quantity, quantity_group: equally granular

Using waterpoint_type_group as value column.  Use the value argument to cast to override this choice
Aggregation requires fun.aggregate: length used as default

  quantity     dry  enough insufficient seasonal unknown
1 dry          6246     0      0           0       0
2 enough          0 33186      0           0       0
3 insufficient    0     0  15129           0       0
4 seasonal        0     0      0        4050       0
5 unknown         0     0      0           0     789

In [17]:
cast(trainval,source~source_class)
# source, source_type, souce_class: source is the most granular

Using waterpoint_type_group as value column.  Use the value argument to cast to override this choice
Aggregation requires fun.aggregate: length used as default

   source               groundwater surface unknown
1  dam                      0        656      0
2  hand dtw               874          0      0
3  lake                     0        765      0
4  machine dbh          11075          0      0
5  other                    0          0    212
6  rainwater harvesting     0       2295      0
7  river                    0       9612      0
8  shallow well         16824          0      0
9  spring               17021          0      0
10 unknown                  0          0     66

In [4]:
cast(trainval,waterpoint_type~waterpoint_type_group, value='amount_tsh')
# waterpoint_type and waterpoint_type_group: waterpoint_type is more granular

Aggregation requires fun.aggregate: length used as default

  waterpoint_type             cattle trough communal standpipe dam hand pump
1 cattle trough               116               0              0       0
2 communal standpipe            0           28522              0       0
3 communal standpipe multiple   0            6103              0       0
4 dam                           0               0              7       0
5 hand pump                     0               0              0   17488
6 improved spring               0               0              0       0
7 other                         0               0              0       0
  improved spring other
1   0                0
2   0                0
3   0                0
4   0                0
5   0                0
6 784                0
7   0             6380

## Select predictor variables

In [13]:
# a library for data manipulation
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

### Combine DataFrame for feature engineering

Without combining the DataFrames, I faced the problem "type of predictors in new data do not match that of the training data" when I tried to predict the randomForest model on the test set. This is due to different factor levels in the training and test sets. 

To overcome this problem, we first combine the DataFrame for feature engineering. Since the test set does not have _status_group_, we use a dummy value. After selecting the factor levels, we split them back to the training and test sets.

In [32]:
test$status_group <- 'unknown'

In [33]:
combine <- rbind(train,test)

### Reduce factor levels for variables with many factor levels

In [34]:
length(unique(combine$installer))

[1] 2411

Understandably, there are many different installers. We reduce the number of factor levels for the installer variable by selecting the top 15 values and setting the rest as 'other'.

However, lets first observe the data.

In [35]:
combine %>% group_by(installer) %>% summarise(totals = n())
summary(combine$installer)

     installer                totals
1                             4532
2    -                           3
3    0                         980
4    A.D.B                       1
5    AAR                         5
6    Aartisa                     1
7    ABASIA                     34
8    ABD                         1
9    ABDALA                      1
10   Abdallah Ally Wazir         1
11   ABDUL                       2
12   AC                          5
13   Accra                      39
14   ACORD                       4
15   ACRA                      346
16   ACT                         2
17   ACT MARA                    1
18   Action Aid                  3
19   ACTION AID                  1
20   Action Contre la Faim       1
21   Action Contre La Faim      11
22   Active KMK                  2
23   Active MKM                 33
24   ACTIVE TANK CO             11
25   ACTIVE TANK CO LTD          2
26   AD                         17
27   Adam                        2
28   Adam Kea                    1
29   Adam mualuaka               1
30   ADAP                        5
...  ...                      ...
2382 TR                       1
2383 Ubalozi wa Marekani/DWE  1
2384 UBUNGO WATER DEPT        1
2385 Ulanga C                 1
2386 Umfaiswary               1
2387 UNCEF                    1
2388 UNIVERSAL COMPANY        1
2389 Users                    1
2390 Uwamalu                  1
2391 VCW                      1
2392 VE                       1
2393 Victoria DRILL           1
2394 Village contractor       1
2395 village council          1
2396 Village Council /RC      1
2397 Villegers                1
2398 Vunjo Sekondari          1
2399 VWA                      1
2400 W.D $                    1
2401 wachina                  1
2402 Waingereza               1
2403 Water Board              3
2404 Watoto foundation        1
2405 Wazieni Bilangali        1
2406 WORLD VISION & COMMUNITY 1
2407 WOULD VISSION            1
2408 WVT NAKOMBO ADP          1
2409 Yusuph Kapiligi          1
2410 ZARA CAMP                1
2411 Zaveriati Chengula       1

                          DWE
                        21751                          4532
                   Government                           RWE
                         2282                          1498
                        Commu                        DANIDA
                         1347                          1305
                         KKKT                        Hesawa
                         1120                          1070
                            0                          TCRS
                          980                           887
                          CES            Central government
                          765                           764
                        DANID                     Community
                          690                           687
                       HESAWA              District Council
                          679                           663
                 World vision                         TASAF
                          517                           504
                          LGA                        WEDECO
                          501                           496
             District council                         Gover
                          490                           483
                        AMREF                         TWESA
                          398                           395
                           WU                          Dmdd
                          377                           356
                         ACRA                  World Vision
                          346                           326
                         SEMA                            DW
                          311                           308
                        OXFAM                            Da
                          288                           287
                       UNICEF                          Gove
                          285                           276
                    Kiliwater                          FinW
                          271                           267
                    Villagers                         NORAD
                          262                           260
   Sengerema Water Department                 Idara ya maji
                          258                           254
                           DH                          DWSP
                          246                           239
         Lawatefuka water sup          Magadini-Makiwaru wa
                          229                           226
                       Distri                            RC
                          224                           219
                           FW          KKKT _ Konde and DWE
                          214                           209
          Handeni Trunk Main(                           WVT
                          208                           206
                          MWE                         Centr
                          198                           195
                        Norad                    Fini Water
                          190                           188
                           Is                        Kuwait
                          187                           187
                        JAICA                       Private
                          184                           183
                        SHIPO                         RWSSP
                          183                           180
                 Central govt                         GOVER
                          175                           170
                      Artisan                           ISF
                          169                           168
                      Mission                     RC CHURCH
                          167                           162
                   Fini water                          DDCA
                          157                           154
                        Tardo                            HE
                          154                           153
                        World                      wananchi
                          153                           151
          Consulting Engineer                            Ir
                          147                           147
                        Amref                          JICA
                          140                           139
                          TWE            Central Government
                          138                           135
Halmashauri ya wilaya sikonge                         MUWSA
                          132                           132
                           Ki                Wizara ya maji
                          127                           127
                          DED                    World Bank
                          126                           123
                        Jaica                        OXFARM
                          122                           121
                         DMDD                    FINI WATER
                          120                           120
                    WATER AID                         Roman
                          120                           119
                       Unisef                           HSW
                          119                           118
                          VWC                         Angli
                          118                           113
                           Go                            DA
                          112                           111
                         AICT     District water department
                          108                           108
                        Shipo                       (Other)
                          108                         15336

We realise that the same installer has multiple data entries because they are represented in different formats due to punctuation differences or spelling errors. Thus, we have to first use a common value for these installers.

In [36]:
# Reword values for values that were represented in different formats
change_var <- function(table){
    table$installer <- tolower(table$installer)
    table$installer[table$installer == 'central government'] <- 'government'
    table$installer[table$installer == 'cebtral government'] <- 'government'
    table$installer[table$installer == 'central govt'] <- 'government'
    table$installer[table$installer == 'centr'] <- 'government'
    table$installer[table$installer == 'gove'] <- 'government'
    table$installer[table$installer == 'gover'] <- 'government'
    table$installer[table$installer == 'distri'] <- 'district council'
    table$installer[table$installer == 'counc'] <- 'district council'
    table$installer[table$installer == 'council'] <- 'district council'
    table$installer[table$installer == 'district counci'] <- 'district council'
    table$installer[table$installer == 'district water department'] <- 'district council'
    table$installer[table$installer == 'commu'] <- 'community'
    table$installer[table$installer == 'commu'] <- 'community'
    table$installer[table$installer == 'adra /community'] <- 'adra'
    table$installer[table$installer == 'adra/ Community'] <- 'adra'
    table$installer[table$installer == 'adra/government'] <- 'adra'
    table$installer[table$installer == 'adra /government'] <- 'adra'
    table$installer[table$installer == 'adra/community'] <- 'adra'
    table$installer[table$installer == 'world vission'] <- 'world vision'
    table$installer[table$installer == 'would vission'] <- 'world vision' 
    table$installer[table$installer == 'world vision & community'] <- 'world vision'
    table$installer[table$installer == 'danid'] <- 'danida'
  return(table)
}

combine <- change_var(combine)

# note: this is a non-exhaustive list. I tried to identify as many values as possible

In [37]:
# Select the top 15 values and change the rest to "others"
combine$installer[combine$installer %in% c(" ", "", "0", "_", "-")] <- "other"
installer_top <- names(summary(as.factor(combine$installer)))[1:15]
combine$installer[!(combine$installer %in% installer_top)] <- "other"
table(combine$installer, combine$status_group)

                   functional functional needs repair non functional unknown
  amref                   189                       6            248      95
  ces                     538                       1             71     155
  community              1113                      73            434     424
  danida                 1037                      95            542     418
  district council        508                     102            725     303
  dwe                    9434                    1622           6349    4351
  government             1195                     322           2175     913
  hesawa                  786                      54            555     373
  kkkt                    425                      62            423     225
  lga                     105                      81            227      93
  other                 15660                    1604           9604    6744
  rwe                     304                     137            765     292
  tasaf                   238                      27            146     112
  tcrs                    290                      42            375     180
  world vision            437                      89            185     172

In [38]:
combine$scheme_management[combine$scheme_management %in% c(" ", "", "0", "_", "-")] <- "Other"

In [39]:
# Split DataFrame into training and test sets
test <- combine %>% filter(status_group %in% c('NIL'))
train <- combine %>% filter(!status_group %in% c('NIL'))

To confirm that the factor levels are the same, we can use _levels(table$column)_.

In [40]:
levels(train$scheme_management)

 [1] ""                 "Company"          "None"             "Other"
 [5] "Parastatal"       "Private operator" "SWC"              "Trust"
 [9] "VWC"              "Water authority"  "Water Board"      "WUA"
[13] "WUG"

In [41]:
levels(test$scheme_management)

 [1] ""                 "Company"          "None"             "Other"
 [5] "Parastatal"       "Private operator" "SWC"              "Trust"
 [9] "VWC"              "Water authority"  "Water Board"      "WUA"
[13] "WUG"

### Select variables that we have picked earlier 

To reiterate, for variables that measure the same thing, we can only keep one such variable to reduce the multi-collinearity effect. In addition, we remove variables that do not have an impact on waterpoint functionality, such as the waterpoint name and data entry recorded date.

In [42]:
train <- train[, which(names(train) %in% c('status_group','amount_tsh','longitude','latitude','gps_height','installer','basin','population','scheme_management','permit','construction_year','payment_type','extraction','management','water_quality','quantity','source','waterpoint_type'))]
test <- test[, which(names(test) %in% c('id','amount_tsh','longitude','latitude','gps_height','installer','basin','population','scheme_management','permit','construction_year','payment_type','extraction','management','water_quality','quantity','source','waterpoint_type'))]

In [43]:
ncol(train)

[1] 17

Now, we have 16 predicor variables and 1 dependent variable.

## Save train and test to CSV files

In [44]:
write.csv(train, "cleanTrain.csv", row.names=FALSE)

In [45]:
write.csv(test, "cleanTest.csv", row.names=FALSE)